<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cz.photopicker">

    <application>

        <activity
            android:name=".preview.PicturePreviewActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".picker.PhotoPickerActivity"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".picker.TakePhotoActivity"
            android:screenOrientation="fullSensor"
            tools:ignore="MissingClass" />

    </application>
</manifest>